<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701098262129-o4mv9qmjievdhv8a8s3l1v68s4pjsii8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701098262129-o4mv9qmjievdhv8a8s3l1v68s4pjsii8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701098262129-ngpkt74stdoge4u3bjjl1mtate8pbpik.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8XE60QkPo9eVw2m_dhJKUr58fPwOpkJk</string>
	<key>GCM_SENDER_ID</key>
	<string>701098262129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>$(com.assignment1.fanpage)</string>
	<key>PROJECT_ID</key>
	<string>post-a172d</string>
	<key>STORAGE_BUCKET</key>
	<string>post-a172d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701098262129:ios:436160a2755978367a65d0</string>
	<key>DATABASE_URL</key>
	<string>https://post-a172d-default-rtdb.firebaseio.com</string>
</dict>
</plist>